@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
/* @keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 1s step-start infinite;
} */

@keyframes blink {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-blink {
  animation: blink 1s step-end infinite;
}

.animate-fade-in {
  animation: fadeIn 2s ease-out both;
}
